/* globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* ============== Profile Page =========== */

.profile-container {
  padding: 20px;
}

.profile-nav-container {
  padding: 20px;
}

.profile-nav-item {
  padding: 20px;
}

.profile-nav-link {
  cursor: pointer;
  transition: color 0.2s;
}

.profile-nav-link:hover {
  color: #007bff;
}

.profile-content-container {
  padding: 20px;
}
  
  /* ============== product detail =========== */

  /* Navbar Login */

  